
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_GuestLayout.cshtml";
}

@section scripts {
    <script src="~/Scripts/register.js"></script>
}

<div class="container">

    <div class="row mt-3">
        <div class="col-lg-6">
            <img src="~/Content/Images/register.png" class="img-fluid" alt="register" />
        </div>
        <div class="col-lg-6 px-5">
            <h2 class="display-4 fw-bold">Join Us Now!</h2>
            <form id="registerForm" class="my-5 needs-validation" novalidate>
                <div class="mb-3">
                    <label for="fname" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="fname" required>
                    <div class="invalid-feedback">
                        First name is required.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="lname" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lname" required>
                    <div class="invalid-feedback">
                        Last name is required.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" class="form-control" id="phone" required>
                    <div class="invalid-feedback">
                        Phone number is required.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" class="form-control" id="address">
                </div>
                <div class="mb-3">
                    <label for="city" class="form-label">City</label>
                    <input type="text" class="form-control" id="city">
                </div>
                <div class="mb-5">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" class="form-control" id="country">
                </div>
                <hr class="py-3" />
                <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="email" required>
                    <div id="email-feedback" class="invalid-feedback">
                        Please provide a valid email.
                    </div>
                </div>
                <div class="mb-5">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" required>
                    <div class="invalid-feedback">
                        Please provide a valid password.
                    </div>
                </div>
                <button type="submit" id="register" class="btn btn-primary w-100">Register</button>
            </form>
        </div>
    </div>
</div>

