
@{
    ViewBag.Title = "Create";
}

<div class="container">
    <div class="row g-5">
        <div class="col-md-3">
            <div class="card h-100">
                <div class="card-body">
                    <ul class="nav nav-pills mb-auto">
                        <li class="nav-item w-100">
                            @Html.ActionLink("Account", "Index", "Profile", null, new { @class = "nav-link link-dark" })
                        </li>
                        <li class="nav-item w-100 mb-3">
                            @Html.ActionLink("Car", "Index", "Car", null, new { @class = "nav-link link-light active" })
                        </li>
                        <li class="nav-item w-100"><hr></li>
                        <li class="nav-item w-100">
                            @Html.ActionLink("Log Out", "Logout", "Home", null, new { @class = "nav-link link-dark" })
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <h1 class="display-4 fw-bold mb-5">Car Details:</h1>
            <div class="card mb-3">
                <div class="card-body p-0">
                    <div class="card-header">
                        <label class="form-label fw-bold">Model</label>
                        <input type="text" id="model" class="form-control mb-3" />
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">PlateNumber</label>
                                <input type="text" id="plateNumber" class="form-control" />
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Year</label>
                                <input type="number" id="year" class="form-control"/>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Color</label>
                                <input type="text" id="color" class="form-control" />
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Capacity</label>
                                <input type="number" id="seat" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form id="carForm" class="my-3">
                <input type="submit" id="save" class="btn btn-primary px-5 me-2" value="Add Car" />
                <input type="submit" id="cancel" class="btn btn-outline-primary" value="Cancel" />
            </form>
        </div>
    </div>
</div>



