
@{
    ViewBag.Title = "Pick A Ride";
}

@section scripts {
    <script src="~/Scripts/search.js"></script>
}
<div class="container text-center">
    <h2 class="display-3 fw-bold mt-5">Find A Ride</h2>
    <h5 class="text-muted">Enter your origin and destination and away you go!</h5>
</div>

<div class="container">
    <div class="card shadow my-5 p-3 rounded-4">
        <div class="card-body">
            <form id="searchForm">
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <div class="accordion">
                            <div class="accordion-item">
                                <div class="accordion-header">
                                    <button class="accordion-button py-2" type="button" data-bs-toggle="collapse" data-bs-target=".accordion-collapse">
                                        <i class="fa-solid fa-location-dot me-2"></i> Origin
                                    </button>
                                </div>
                                <div class="accordion-collapse collapse p-3">
                                    <input type="text" class="form-control my-2" placeholder="Address">
                                    <input type="text" class="form-control mb-2" placeholder="City">
                                    <input type="text" id="oCountry" class="form-control mb-2" placeholder="Country">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 align-self-center justify-content-center">
                        <div class="my-3 text-center">
                            <div class="btn btn-light w-100">
                                <i class="fa-solid fa-right-left text-dark" title="Swap"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="accordion p-0">
                            <div class="accordion-item">
                                <div class="accordion-header">
                                    <button class="accordion-button py-2" type="button" data-bs-toggle="collapse" data-bs-target=".accordion-collapse">
                                        <i class="fa-solid fa-location-dot me-2"></i> Destination
                                    </button>
                                </div>
                                <div class="accordion-collapse collapse p-3">
                                    <input type="text" class="form-control my-2" placeholder="Address">
                                    <input type="text" class="form-control mb-2" placeholder="City">
                                    <input type="text" class="form-control mb-2" placeholder="Country">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group my-3">
                            <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
                            <input type="date" class="form-control" placeholder="Date">
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <input type="submit" id="search" class="btn btn-primary my-3 w-100" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container py-4">
    <hr class="my-5" />
</div>

<div class="container">
    <div id="rides" class="row">
    </div>
</div>
